.App {
    background-color: cornflowerblue;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    width: 250px;
    height: 250px;
    border: darkslategray 10px solid;
    border-radius: 5%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: 28px;
}


.outputScreen {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 140px;
    border: darkslategray 10px solid;
    border-radius: 25%;
    margin-bottom: 10px;
}

.buttonSection {
    width: 200px;
    height: 50px;
    border: darkslategray 10px solid;
    border-radius: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.error {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 140px;
    border: darkslategray 10px solid;
    border-radius: 25%;
    margin-bottom: 10px;
    color: red;
}

.button {
    border: darkslategray 3px solid;
    border-radius: 25%;
    font-size: 20px;
    color: white;
    background-color: orange;
}
.button:hover {
    opacity: 55%;
    transition: 1s;
}

.disabled {
    border: darkslategray 3px solid;
    border-radius: 25%;
    font-size: 20px;
    background-color: gray;
    opacity: 50%;
}


